@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background;
  }
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../public/assets/fonts/Helvetica-Neue.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Geo';
  src: url('../public/assets/fonts/Helvetica-Neue-Geo.ttf');
  font-style: normal;
}

.gradient {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.8) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}

.imageRight {
  background-position: bottom 50px right 100px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #11101a;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 76, 112);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

input[type='file'] {
  display: none;
}
