@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../public/assets/fonts/Helvetica-Neue.ttf');
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue Geo';
  src: url('../public/assets/fonts/Helvetica-Neue-Geo.ttf');
  font-style: normal;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #11101a;
}

::-webkit-scrollbar-thumb {
  background: rgb(65, 76, 112);
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
